telethon
colorama
requests
paramiko
cryptography
qrcode
pyshorteners
matplotlib
seaborn
numpy
reportlab
discord.py
slack-sdk
flask
flask-socketio
whois
scapy
shodan
pyhunter
phonenumbers
selenium
webdriver-manager
applescript
psutil
ipaddress
